{% include 'layouts/header.html.twig' %}

    <section id="heroes">
        <h2>Nos Héros Marvel</h2>
        <div class="hero-card">
            <p>Dans l'univers Marvel, la magie des comics se mêle à la réalité pour créer une toile fascinante de
                super-héros, de super-vilains, et d'aventures épiques, où le bien et le mal s'affrontent dans un combat
                sans fin.</p>
        </div>
        <p>L'univers Marvel est une symphonie d'émotions, de pouvoirs surhumains et de drames, où chaque personnage
            porte le fardeau de son destin tout en luttant pour un monde meilleur.</p>
    </section>

    <section id="villains">
        <!-- <section class="left"></section> -->

        <section class="right">
            <h2>Explorez l'univers Marvel</h2>
            <p>L'univers des Marvels, créé par la célèbre maison d'édition Marvel Comics, est un vaste et captivant
                multivers qui a captivé des millions de fans à travers le monde depuis sa première apparition en 1939.
                Il regorge de super-héros et de super-vilains aux pouvoirs extraordinaires, évoluant dans des mondes
                aussi variés que la Terre, l'espace lointain et d'autres dimensions. Les personnages emblématiques tels
                que Spider-Man, Iron Man, Captain America, Hulk, Thor, et les X-Men, parmi tant d'autres, ont marqué
                l'imaginaire collectif et sont devenus des icônes de la culture populaire. Cet univers est également
                connu pour ses intrigues complexes, ses crossovers épiques, et ses thèmes profonds qui explorent des
                questions morales, sociales et existentielles. Les Marvels transcendent les frontières du cinéma, des
                bandes dessinées, des séries télévisées et des produits dérivés, créant une franchise emblématique qui
                continue de se réinventer et d'inspirer de nouvelles générations de fans.</p>
        </section>


    </section>


    <div class="flex-container">

    <section class="movie">
        <h2>Phase 4 actuelle</h2>
        <img src="images/phase4.webp" alt="phase4">
         <p>Carol Danvers, alias Captain Marvel, a récupéré son identité auprès du tyrannique Kree et s'est vengée du
                    renseignement suprême. Cependant, des conséquences inattendues la voient assumer le fardeau d'un univers
                    déstabilisé.</p>
    </section>

    <div class="flex-right">
        <section id="comics">
            <h2>Dernier film Marvel</h2>
            <div class="comic-card">
                <img src="images/themarvels.jpg" alt="Bd Marvel">
                <p>Carol Danvers, alias Captain Marvel, a récupéré son identité auprès du tyrannique Kree et s'est vengée du
                    renseignement suprême. Cependant, des conséquences inattendues la voient assumer le fardeau d'un univers
                    déstabilisé.</p>
            </div>
        </section>

        <section id="bd">
            <h2>Les Comics Marvel incontournables</h2>
            <div class="comic-card">
                <img src="images/bd.jpg" alt="Bd Marvel">
                <p>Les bandes dessinées Marvel Comics présentent un univers de super-héros emblématiques, chacun doté de pouvoirs uniques. Ces histoires captivantes explorent des thèmes tels que le courage, la justice et l'évolution personnelle, formant un univers narratif riche et interconnecté, devenu une référence majeure dans la culture populaire à travers ses adaptations multimédias variées.</p>
            </div>
        </section>
    </div>

</div>


{% include 'layouts/footer.html.twig' %}

